/* Styles for PurchaseHistory Component */

/* Container for Purchase History */
.purchase-history {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title */
.purchase-history h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}

/* Purchase Card */
.purchase-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

/* Purchase Info */
.purchase-card h3 {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.1rem;
  color: rgb(255, 36, 73);
  border-bottom: solid 2px #e0e0e0;

  padding: 0.5rem 0;
  width: 100%;
}

.purchase-card p {
  margin: 0.7rem 0;
}

.purchase-amount {
  font-weight: 700;
}

/* Item List */
.purchase-card ol {
  list-style-position: inside;
  text-align: center;
}

.purchase-card ol li {
  margin: 1rem 0;
  border-bottom: 1px solid #e0e0e0;
}

.purchase-card ol li:last-child {
  border-bottom: none;
}

/* No Purchases Message */
.no-purchases {
  text-align: center;
  color: #888;
  font-style: italic;
}

.filter-container {
  margin-bottom: 1rem;
}

.filter-input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.filter-by-id-button {
  padding: 0.5rem 1.5rem;
  background-color: rgb(255, 36, 73);
  color: white;
  border: none;
  margin-left: 4px;
  border-radius: 4px;
  cursor: pointer;
}
