.purchase-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.purchase-details > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  width: 100%;
}

.back-to-purchases-button {
  background-color: #000000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.back-to-purchases-button:hover {
  background-color: rgb(255, 36, 73);
}

@media (max-width: 768px) {
  .purchase-details {
    width: 95%;
  }

  .purchase-card div {
    display: inline;
  }
}
