/* Ensure the video container takes up the full viewport height */
#video-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Make the video cover the full height and width */
.full-screen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video maintains its aspect ratio and fills the container */
  z-index: -1; /*  Send the video to the background  */
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 36, 73);
  font-size: 2rem;
  text-align: center;
}

.section-text-img {
  display: flex;
  flex-wrap: wrap;
}
/* Show the container when scrolling down */
.scroll-container {
  opacity: 0;
  /* // add a slower transition */
  transition: 0.5s ease-in-out;
}

.scroll-container.visible {
  opacity: 1;
}

section .section-text-img:nth-child(odd) {
  flex-direction: row-reverse;
}

.section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 4rem;
  color: rgb(255, 36, 73);
}

.section-img {
  width: 50%;
  height: 50%;
}

/*
grid-template-columns: 1fr 1fr; on mobile */
@media (max-width: 768px) {
  .section-text {
    width: 100%;
    margin: 2rem 0;
  }

  .section-img {
    width: 100%;
  }
}
