header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.custom-container {
  padding: 1rem;
  border-bottom: rgb(255, 36, 73) solid 7px;
  background-color: #ffffff;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand-logo {
  width: 7rem;
  height: 4rem;
  margin-right: 1.5rem;
  border-radius: 4px;
}

.brand {
  text-decoration: none;
}

.custom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Toggle button for hamburger menu */
.toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.toggler-icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: background-color 0.3s;
}

/* Navigation menu */
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.nav-item a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  color: rgb(255, 36, 73);
  transition: color 0.3s;
}

/* Shopping cart icon */
.cart-container .cart-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#cart-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 0.7rem;
}

.cart-count {
  font-size: 1.4rem;
  color: rgb(255, 36, 73);
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 2.5rem 1rem;
    border-top: 1px solid rgb(255, 36, 73);
    margin-top: 2.5rem;
  }

  .menu-open {
    display: flex;
  }

  .toggler {
    display: flex;
    flex-direction: column;
  }

  #brand-logo {
    width: 5rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 0;
  }

  .cart-count {
    margin-right: 0;
  }
}
